<div class="flexrow">

    <div class="flexcol">
        <section class="sheet-area">
            <h1>{{ localize 'IRONSWORN.Journeys' }}</h1>
            {{#each journeys}}
                <h3 class="sheet-progress-title item flexrow" data-item-id="{{ this._id }}">
                    <a class="item-edit">{{ this.name }} ({{ localizeDifficulty this.data.level }})</a>
                    <div class="item-controls">
                        <a class="item-delete" title="{{ localize 'IRONSWORN.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </h3>
                <div class="flexrow sheet-progress">
                    {{> "systems/ironsworn/templates/actor/parts/progress-track.hbs" item=this from=1 to=10}}
                </div>
            {{/each}}
            <button type="button" class="add-item" data-type="journey">{{ localize 'IRONSWORN.AddVow' }}</button>
        </section>
    </div>
</div>
<div class="flexrow">

    <div class="flexcol">
        <section class="sheet-area">
            <h1>{{ localize 'IRONSWORN.Combats' }}</h1>
            {{#each combats}}
                <h3 class="sheet-progress-title item flexrow" data-item-id="{{ this._id }}">
                    <a class="item-edit">{{ this.name }} ({{ localizeDifficulty this.data.level }})</a>
                    <div class="item-controls">
                        <a class="item-delete" title="{{ localize 'IRONSWORN.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </h3>
                <div class="flexrow sheet-progress">
                    {{> "systems/ironsworn/templates/actor/parts/progress-track.hbs" item=this from=1 to=10}}
                </div>
            {{/each}}
            <button type="button" class="add-item" data-type="journey">{{ localize 'IRONSWORN.AddVow' }}</button>
        </section>
    </div>
</div>
