{{#*inline "progress"}}
    <button type="button" class="mark-progress">{{ localize 'IRONSWORN.Mark' }}</button>
    {{#rangeProgress from=from to=to marks=marks}}
        <div class="sheet-progress-input {{cls}}">
            <span class="mark">|</span>
            <span class="mark">|</span>
            <span class="mark">|</span>
            <span class="mark">|</span>
        </div>
    {{/rangeProgress}}
{{/inline}}
<div class="flexrow">

    <div class="flexcol">
        <section class="sheet-area">
            <h1>{{ localize 'IRONSWORN.Vows' }}</h1>
            <h3 class="sheet-progress-title">
                <a class="progress-fulfill">Guiar la caravana de forma segura a través de lios Bosques de Luto (FORMIDABLE)</a>
            </h3>
            <div class="flexrow sheet-progress">
                {{>progress marks="3" from=1 to=10}}
            </div>
            <h3 class="vow-title">
                <a class="progress-fulfill">Matar a la wyverna (PELIGROSO)</a>
            </h3>
            <div class="flexrow sheet-progress">
                {{>progress marks="16" from=1 to=10}}
            </div>
        </section>
    </div>
</div>
<div class="flexrow" style="display: none;">
    <div class="flexcol">
        <section class="sheet-area">
            <h1 style="text-align:center">Bonds</h1>
        </section>

        <section class="sheet-area">
            <h1 style="text-align:center">Debilities</h1>

            {{#*inline "debility"}}
                <label class="checkbox">
                    <input type="checkbox" name="data.debility.{{name}}"
                        {{checked (lookup data.debility name)}}>
                    {{capitalize name}}
                </label>
            {{/inline}}

            <div class="flexrow">
                <div class="flexcol">
                    <h3>Conditions</h3>
                    {{>debility name="wounded"}}
                    {{>debility name="unprepared"}}
                    {{>debility name="shaken"}}
                    {{>debility name="encumbered"}}
                </div>
                <div class="flexcol">
                    <h3>Banes</h3>
                    {{>debility name="maimed"}}
                    {{>debility name="corrupted"}}

                    <h3>Burdens</h3>
                    {{>debility name="cursed"}}
                    {{>debility name="tormented"}}
                </div>
            </div>
        </section>

    </div>

    <div class="flexcol">
        <h1 style="text-align:center">Vows</h1>
        <h1 style="text-align:center">Progress</h1>
        <h1 style="text-align:center">Sites</h1>
    </div>

</div>
