<div class="flexrow">

    <div class="flexcol">
        <section class="sheet-area">
            <h1>{{ localize 'IRONSWORN.Vows' }}</h1>
            {{#each vows as |vow id|}}
                <h3 class="sheet-progress-title item flexrow" data-item-id="{{ vow._id }}">
                    <a class="item-edit">{{ vow.name }} ({{ localizeDifficulty vow.data.level }})</a>
                    <div class="item-controls">
                        <a class="item-delete" title="{{ localize 'IRONSWORN.DeleteItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </h3>
                <div class="flexrow sheet-progress">
                    {{> "systems/ironsworn/templates/actor/parts/progress-track.hbs" item=vow from=1 to=10}}
                </div>
            {{/each}}
            <button type="button" class="add-item" data-type="vow">{{ localize 'IRONSWORN.AddVow' }}</button>
        </section>
    </div>
</div>
{{> "systems/ironsworn/templates/actor/parts/progress.hbs" }}
