<form class="{{cssClass}} flexcol" autocomplete="off">

    <!-- Header row -->
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <div class="xp flexcol">
            <span>Exp: {{actor.data.experience.current}}</span>
            <span>Spt: {{actor.data.experience.spent}}</span>
        </div>
    </header>

    <div class="flexrow">
        <div class="flexcol margin-left">
            <div class="flexcol stack momentum">
                <h4 class="vertical">{{ localize 'STAT.Momentum' }}</h4>
                {{>"systems/ironsworn/templates/actor/parts/stacked-stat.hbs" data=data stat="momentum" from=10 to=-6}}
                <hr/>
                <div class="clickable block stack-row" id="burn">
                    Burn
                </div>
                Reset: {{data.momentumReset}}
                Max: {{data.momentumMax}}
            </div>
        </div>
        <div class="flexcol">
            {{> "systems/ironsworn/templates/actor/parts/main-stats.hbs" }}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="summary">{{ localize 'TABS.Summary' }}</a>
                <a class="item" data-tab="assets">{{ localize 'TABS.Assets' }}</a>
                <a class="item" data-tab="moves">{{ localize 'IRONSWORN.Moves' }}</a>
                <a class="item" data-tab="oracles">{{ localize 'IRONSWORN.Oracles' }}</a>
            </nav>
            <div class="sheet-main">
                <div class="tab summary" data-group="primary" data-tab="summary">
                    {{> "systems/ironsworn/templates/actor/parts/progress-block.hbs" items=vows title=(localize 'IRONSWORN.Vows') type='vow' }}
                    {{> "systems/ironsworn/templates/actor/parts/progress-block.hbs" items=journeys title=(localize 'IRONSWORN.Journeys') type='journey' }}
                    {{> "systems/ironsworn/templates/actor/parts/progress-block.hbs" items=compat title=(localize 'IRONSWORN.Combats') type='combat' }}
                </div>

                <div class="tab assets" data-group="primary" data-tab="assets">
                    {{> "systems/ironsworn/templates/actor/parts/assets.hbs" }}
                </div>
                <div class="tab moves" data-group="primary" data-tab="moves">
                    {{> "systems/ironsworn/templates/actor/parts/moves.hbs" }}
                </div>
                <div class="tab oracles" data-group="primary" data-tab="oracles">
                    {{> "systems/ironsworn/templates/actor/parts/oracles.hbs" }}
                </div>
            </div>
            <div class="sheet-footer">
                {{> "systems/ironsworn/templates/actor/parts/debilities.hbs" }}
            </div>
        </div>
        <div class="flexcol margin-right">
            <div class="flexcol stack health">
                <h4 class="vertical clickable text" data-stat="health">{{ localize 'STAT.Health' }}</h4>
                {{>"systems/ironsworn/templates/actor/parts/stacked-stat.hbs" data=data stat="health" from=5 to=0}}
            </div>
            <div class="flexcol stack spirit">
                <h4 class="vertical clickable text" data-stat="spirit">{{ localize 'STAT.Spirit' }}</h4>
                {{>"systems/ironsworn/templates/actor/parts/stacked-stat.hbs" data=data stat="spirit" from=5 to=0}}
            </div>
            <div class="flexcol stack supply">
                <h4 class="vertical clickable text" data-stat="supply">{{ localize 'STAT.Supply' }}</h4>
                {{>"systems/ironsworn/templates/actor/parts/stacked-stat.hbs" data=data stat="supply" from=5 to=0}}
            </div>
        </div>
    </div>
</form>
