<div class="dice-roll">
        <div class="dice-result ironsworn-roll">
            <div class="dice-formula">

                <div class="action-die">
                    <div class="dice-result-title">{{ localize 'IRONSWORN.ActionValue'}}:</div>
                    <div class="dice-result-dice">
                        {{#if actionDie}}
                            <strong><span class="roll {{actionDie.cls}}">{{actionDie.die}}</span>{{actionDie.text}} = {{actionDie.total}}</strong>
                        {{else}}
                            <strong>{{actionValue}}</strong>
                        {{/if}}
                    </div>
                </div>
                <div class="challenge-dice">
                    <div class="dice-result-title">{{ localize 'IRONSWORN.ChallengeDice'}}:</div>
                    <div class="dice-result-dice">
                        {{#each challengeDice as |die|}}
                            <span class="roll {{die.cls}}">{{die.total}}</span>
                        {{/each}}
                    </div>
                </div>
                <p class="hit-type">{{hit}}</p>
            </div>
        </div>
</div>
