<div class="dice-roll">
        <div class="dice-result">
            <div class="dice-formula hit-type-{{ hit.cls }}">{{localize hit.type}}</div>
            <div class="dice-tooltip">
                <div class="action-die">
                    <div class="dice-result-title">{{ localize 'IRONSWORN.ActionValue'}}:</div>
                    <div class="dice-result-dice">
                        {{#if actionDie}}
                            <strong><span class="roll {{actionDie.cls}}">{{actionDie.die}}</span>{{actionDie.text}} = {{actionDie.total}}</strong>
                        {{else}}
                            <strong>{{actionValue}}</strong>
                        {{/if}}
                    </div>
                </div>
                <div class="challenge-dice">
                    <div class="dice-result-title">{{ localize 'IRONSWORN.ChallengeDice'}}:</div>
                    <div class="dice-result-dice">
                        {{#each challengeDice as |die|}}
                            <span class="roll {{die.cls}}">{{die.total}}</span>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
</div>
