<form class="{{cssClass}} asset" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <header class="sheet-header">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}"/>
            <div class="header-details">
                <h1 class="charname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
            </div>
        </header>

        <label>
            <input type="text" name="data.description" value="{{data.description}}" placeholder="..."/>
        </label>

        <div class="asset-abilities">
            {{#each data.abilities}}
                <div class="asset-ability">
                    <input type="hidden" name="data.abilities.{{@key}}.enabled" data-dtype="Boolean" value="{{enabled}}"/>
                    {{editor content=description target=(targetAbilityDescription @key) owner=owner button=true
                             editable=true}}
                </div>
            {{/each}}
        </div>
        <div class="flexrow" style="align-items: center">
            <label for="data.hasName">{{ localize 'ASSET.hasName' }}: </label>
            <input type="checkbox" id="data.hasName" name="data.hasName" {{checked data.hasName}}>
        </div>
        <div class="flexrow">
            <label for="data.health">{{ localize 'ASSET.health' }}: </label>
            <input type="text"
                   style="font-size: 12px;flex: 0 0 30px;padding: 0 6px 0 0;margin: 0;text-align: right;"
                   data-dtype="Number" id="data.health" name="data.health.max" value="{{data.health.max}}">
            <input type="hidden" data-dtype="Number" name="data.health.current" value="{{data.health.max}}">
        </div>
    </section>
    <pre><code>{{json data}}</code></pre>
</form>
